# EC CALCULATOR

In [1]:
import pandas as pd

raw_table = {"From":[1.01,1.21,2.11,2.31,2.51,2.71,3.01,3.51,4.01,4.51,5.01,5.51,6.01,6.51,7.01,8.01,10.01,15.01,25.01,50.01], 
"To":[1.2,2.1,2.3,2.5,2.7,3,3.5,4,4.5,5,5.5,6,6.5,7,8,10,15,25,50,9999],
"Margin":[7,10,13,15,16,18,20,22,24,26,28,30,32,35,40,45,50,55,60,65]}

margin_tab = pd.DataFrame(raw_table)
margin_tab

     From      To  Margin
0    1.01     1.2       7
1    1.21     2.1      10
2    2.11     2.3      13
3    2.31     2.5      15
4    2.51     2.7      16
5    2.71     3.0      18
6    3.01     3.5      20
7    3.51     4.0      22
8    4.01     4.5      24
9    4.51     5.0      26
10   5.01     5.5      28
11   5.51     6.0      30
12   6.01     6.5      32
13   6.51     7.0      35
14   7.01     8.0      40
15   8.01    10.0      45
16  10.01    15.0      50
17  15.01    25.0      55
18  25.01    50.0      60
19  50.01  9999.0      65

In [2]:
ec_margin = float(0.1)

In [3]:
enter = int(input("Number of the matches: "))

pl_odd = []
ac_odd = []
enda = []

stake = int(input("Your stake: "))


while enter > 0:
    
    your_placed_odd = float(input("Your placed odd: "))
    
    pl_odd.append(your_placed_odd)
                  
    ende = str(input("ENDED Y/N: "))
    
    enda.append(ende)
    
    if ende == "N":
    
        your_actual_odd = float(input("Your actual odd: "))
        ac_odd.append(your_actual_odd)

    else:
        
        ac_odd.append(1)
    
    enter = enter - 1

Number of the matches: 3
Your stake: 1000
Your placed odd: 3
ENDED Y/N: Y
Your placed odd: 5
ENDED Y/N: N
Your actual odd: 4
Your placed odd: 5
ENDED Y/N: 2

In [4]:
def multiplyList(myList) :
     
    # Multiply elements one by one
    result = 1
    for x in myList:
         result = result * float(x) 
    return result 
multiplyList(pl_odd)

75.0

In [5]:
raw_table = {"placed odds":pl_odd,
            "actual odds":ac_odd,
             "ended":enda        }

In [6]:
import pandas as pd

data = pd.DataFrame(raw_table)

data

   placed odds  actual odds ended
0          3.0          1.0     Y
1          5.0          4.0     N
2          5.0          1.0     2

In [7]:
marga = []
for i in data["placed odds"]:
    marga.append(margin_tab[(margin_tab["From"] <= i)] ['Margin'].max())
    
data["margin"] = marga

In [8]:
no_w = []
for aa in range(len((data["margin"]))):
    if data["ended"][aa] == "Y":
        no_w.append(1)
    else:
        no_w.append((1 - data["margin"][aa]/100)/data["actual odds"][aa])
        

data["no w"] = no_w

In [9]:
data

   placed odds  actual odds ended  margin   no w
0          3.0          1.0     Y      18  1.000
1          5.0          4.0     N      26  0.185
2          5.0          1.0     2      26  0.740

In [10]:
act_odds_sum = multiplyList(data["actual odds"])

no_w_sum = multiplyList(data["no w"])

sum_odds = multiplyList(data["placed odds"])

Eventual_win = stake * multiplyList(pl_odd)

early_cash_out = Eventual_win * no_w_sum ** (1 - ec_margin)

print(act_odds_sum)

print(no_w_sum)

4.0
0.1369

In [11]:
print("Your stake is: ", stake)

print("Total odds: ",sum_odds)

print("Eventual win: ",Eventual_win)

print("Actual possible cash out: ",early_cash_out)

Your stake is:  1000
Total odds:  75.0
Eventual win:  75000.0
Actual possible cash out:  12526.344938398712